* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  
  button {
    background-color: #100430;
    color: #fff;
    border-radius: 8px;
    padding: 1rem;
    cursor: pointer;
  }
  
  video {
    width: 525px;
    height: 400px;
    display: block;
    margin: 3rem auto;
  }
  
  #screenshots {
    display: flex;
    justify-content: center;
  }
  
  #screenshots img {
    max-width: 100%;
    width: 17rem;
    margin-right: 1.5rem;
    border-radius: 4px;
  }
  